{% extends "base.html" %}

{% block title %}BR Crawl{% endblock %}

{% block header %}
    <h1>BR Crawl</h1>
    <br class="title-br"/>
    <span class="title-span">Diretório da smallweb brasileira</span>
{% endblock %}

{% block content %}
    <ol start="{{ start_index }}">
        {% for item in feed_items %}
            <li>
                <a href="{{ item.url }}" target="_blank">
                    <h2>{{ item.title }}</h2>
                </a>
                <br>
                <small>
                    <time datetime="{{ item.published_at }}">
                        {% set pub_date = item.published_at[:10] %}
                        {% set pub_formatted = pub_date[8:10] ~ '/' ~ pub_date[5:7] ~ '/' ~ pub_date[0:4] %}
                        {{ pub_formatted }}
                    </time>
                    |
                    <a class="domain" href="https://{{ item.feed_domain }}" target="_blank">{{ item.feed_domain }}</a> | 
                    <button class="hide">esconder</button> | 
                    <button class="report">reportar</button>
                </small>
            </li>
        {% endfor %}
    </ol>

    {% if total_pages > 1 %}
        <nav>
            {% if current_page > 1 %}
                <a href="/?page={{ current_page - 1 }}">&larr; Voltar</a>
            {% else %}
                <span>&larr; Voltar</span>
            {% endif %}

            <span>Página {{ current_page }} de {{ total_pages }}</span>

            {% if current_page < total_pages %}
                <a href="/?page={{ current_page + 1 }}">Avançar &rarr;</a>
            {% else %}
                <span>Avançar &rarr;</span>
            {% endif %}
        </nav>
    {% endif %}
{% endblock %}
