:root {
    color-scheme: dark light;
    --primary: #0AC8F5;
    --secondary: #D2F00F;
    --text: var(--txt, #cfcfcf);
    --border: var(--bd, #c0c0c0);
    --background: var(--bg, #1D1F21);
    font-size: min(calc(.75rem + 0.75vw), 16px);
}

@media (prefers-color-scheme: light) {
    :root {
        --text: var(--txt, #444444);
        --border: var(--bd, #333333);
        --background: var(--bg, white);
        --primary: #207D92;
        --secondary: #6A7A06;
    }
}

body {
    font-family: Calibri, 'Trebuchet MS', 'Lucida Sans', Arial, sans-serif;
    color: var(--text);
    background: var(--background);
    max-width: 50rem;
    width: 100%;
    margin: 0.5em auto 2em;
    line-height: 1.25em;
}

header {
    border-bottom: 1px solid var(--border);
    margin-bottom: 0.25em;
}

.header-title {
    font-size: 2em;
    font-weight: bold;
    display: inline-block;
    padding: 0 0.5em;
    margin: 1rem 0;
}

header > h1 {
    display: inline-block;
    padding: 0 0.5em;
}

h2 {
    font-size: 1rem;
    display: inline;
}

ol {
    padding-left: 5ch;
}

li {
    margin-block-start: 1em;
}

a {
    text-decoration: none;
}

a:link {
    color: var(--primary);
}

a:visited {
    color: var(--secondary);
}

a:hover {
    opacity: 0.8;
}

small {
    padding-top: 0.25rem;
    font-size: 0.95rem;
}

small > a:link,
small > a:visited {
    color: var(--text);
}

footer {
    padding: 1rem;
    margin-top: 2rem;
    border-top: 1px solid var(--border);
}

nav {
    display: flex;
    justify-content: center;
    gap: 1em;
    padding: 1em 0;
    margin-top: 1em;
}

nav > a, nav > span {
    padding: 0.25em 0.75em;
}

nav > span {
    color: var(--border);
}

button.report, button.unreport, button.hide, button.show {
    background: transparent;
    border: 0px transparent;
    padding: 0px;
    margin: 0px;
    display: inline;
    box-sizing: border-box;
    font: inherit;
    color: inherit;
}

button.report:hover, button.unreport, button.hide:hover, button.show {
    opacity: 0.8;
    cursor: pointer;
}

.title-br { display: none; }

@media screen and (max-width: 470px) {
    header { text-align: center; }
    .title-br { display: initial; }
    .title-span { margin: 10px 0px; display: inline-block; }
}"""
